body {
	margin-top: 1.0em;
	background-color: #71bde0;
	font-family: Helvetica, Arial, FreeSans, san-serif;
	color: #000000;
	text-align: center;
}
#container {
	margin: 0 auto;
	width: 950px;
	background-color: #2FACE5;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
h1 { font-size: 3.8em; color: #8e421f; margin-bottom: 3px; }
h1 .small { font-size: 0.4em; }
h1 a { text-decoration: none }
h2 { font-size: 1.5em; color: #8e421f; }
h3 { text-align: center; color: #8e421f; }
a { color: #8e421f; }
.description { font-size: 1.2em; margin-bottom: 30px; margin-top: 30px; font-style: italic;}
.download { float: right; }
pre { background: #000; color: #fff; padding: 15px;}
hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
.footer { text-align:center;
		  padding-top:30px;
		  font-style: italic;}
.git_command {
	width: 400px;
	position: relative;
	left: 250px;
	text-align: center
}

#flattr_badge {
	position: absolute;
	top: 200px;
	left: 225px;
	border: 0;
}
#paypal_badge {
	position: absolute;
	top: 250px;
	left: 200px;
	border: 0;
	overflow: hidden;
	border: 1px solid black;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 4px;
	padding-left: 0px;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	background-color: white;
}
#paypal_badge_inner0 {
	padding: 4px;
	padding-left: 8px;
	background-color: #E98A0A;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color: white;
}
#paypal_badge_inner1 {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-weight: normal;
	color: white;
	font-size: 15px;
	background-color: white;
	color: #E98A0A;
	padding: 1px 5px;
	padding-top: 0px;
}